<h1>Checkout</h1>
<div class="container" height="100">
  <h3>Your Cart</h3>
  <% @cart.items.each do |item| %>
  <p>Item: <%= item.name %></p>
  <p>Quantity: <%= @cart_item.quantity %></p>
  <p>Cost: $<%= item.price %></p>
  <% end %>
  <p>Total: $<%= @price %></p>
</div>
<a href="/logout">Logout</a>
