<h2>Thanks for your money, idiot!</h2>

<hr>

<hr>

<img src="http://foolsgoldrecs.com/images_web/run2.jpg" alt="RTJ MOTHER FUCKER">

<hr>

<hr>

<div class="">
  <a href="/">Woot Home Page</a>
</div>
